{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/chat2.css'%}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- chat.html -->
    <header>
        <nav id="cabecera" class="navbar bg-body-tertiary">
            <div class="container">
                <img src="{%static '/img/ImgBOT.jpg'%}" width="100">
              <a class="navbar-brand" href="#">
                <h3>ChaskiBot, tu amigo virtual Boliviano</h3>
              </a>
            </div>
          </nav>
    </header>
      <br>
  
    <div class="chat-container">
        <div class="chat-messages">
            {% for message in messages %}
                <div class="message">
                    <span class="sender">{{ message.sender }}:</span>
                    <span class="content">{{ message.content }}</span>
                </div>
            {% endfor %}
        </div>
        <form method="post" action="/buscar/">
            {% csrf_token %}
            <input type="text" name="message" placeholder="Escribe un mensaje">
            <input type="submit" value="Buscar">
            
        </form>
        <button id="refresh-button">Actualizar</button>
        <script>
        document.getElementById('refresh-button').addEventListener('click', function() {
            window.location.href = '/refresh_chat/';
        });
        </script>
    </div>
</body>
</html>
