{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{%static 'css/styles.css'%}">
<title>Chatbot</title>
</head>
<body>
  <header>
    <h3>ChaskiBot, tu amigo virtual Boliviano</h3>
  </header>
  <br>
  <form method="POST" action="{% url 'tu_vista' %}">
    {% csrf_token %}
    <div class="chat-container">
      <div class="chat">
        <div class="message received">
          <p>Hola, ¿en qué puedo ayudarte hoy?</p>
          <span class="timestamp">10:00 AM</span>
        </div>
        <div class="message sent">
          <p>¡Hola! Tengo una pregunta sobre tu servicio.</p>
          <span class="timestamp">10:05 AM</span>
        </div>
        <!-- Agrega más mensajes aquí -->
      </div>
      <div class="field input-field">
        <input type="text" id="user-input" placeholder="Escribe un mensaje..." name="mensajeUser">
        <button id="send-button" type="submit">Enviar</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>